    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-color: white;
    }
    nav{
        height: 20px;
        width: auto;
        background-color: rgb(242, 244, 247);
        color: black;
        box-shadow: 0 0 10px;
        padding: 23px;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content:space-between;
        display:flex;
        }
     .button{
        background-color: rgb(233, 233, 245);
        }
ul{
    display: flex;
    list-style: none;
}
ul li a{
        text-decoration: none;
        margin-inline: 15px;
        font-size: 18px;
        color: black;
        
        
}
    img{
        height: 70px;
        width: 300px;

    }
    .maintext{
     margin: 0px;
     padding: 30px;
     align-items: center;
     align-items: center;


    }
    .maintext img{
     height: 600px;
     width: 500px; 
     float:right;
    }
    p{
        font-size: 15px;
    }
    button{
        font-size: 12px;
        background-color:white
        font color: black;
        height: 40px;
        width: 150px;
        margin:10px;
    }
.container1{
    margin: 0px;
    paddind: 0px;
    height: 15px;
    width: 20px;
    border=30px
}
.image3{
    width: 1000px;
    height: 600px;
    
}
.heading{
    font-size: 30px;
    text-align: center;
}

    border: 10px;
    background-color: rgb(225, 228, 228);
    height: 100px;
    width: auto;
}
    

